Package: kylin-camera-dbgsym
Package-Type: ddeb
Source: kylin-camera
Version: 1.1.2kord9~rc6
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: songxikang <songxikang@kylinos.cn>
Installed-Size: 3735
Depends: kylin-camera (= 1.1.2kord9~rc6)
Section: debug
Priority: optional
Description: debug symbols for kylin-camera
Build-Ids: 1342a5ddf1fdcfeb9358d94bb62206286fd57a79
